#main-wrapper aside {
    background: #000000 !important;
    position: fixed;
}

#main-wrapper .page-wrapper {
    background: #ffffff !important;
}

#main-wrapper aside .profile {
    margin-top: 124px;
}

#main-wrapper aside .profile h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

#main-wrapper aside .profile p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #B71818;
    margin-bottom: 114px;
}

#main-wrapper aside .buton button {
    background: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    width: 193px;
    height: 41px;
    left: -20px;
    top: 333px;
    border:none !important;
    color: #FFFFFF;
}

#main-wrapper aside .buton button:hover {
    background: #B71818;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FFFFFF;
}

#main-wrapper aside .buton .active  {
    background: #B71818;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FFFFFF;
}

#main-wrapper .page-wrapper .page-title {
    margin-top: 80px;
}

nav .logout {
    margin-top: 280px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;

}