.bg-detail {
    background: url('/img/detail.png');
    background-size:cover;
    height: 150vh;
}

/* .container {
    padding-left: 100px;
    padding-right: 100px;
} */

.container .row {
    padding-top: 200px;
    column-gap: 60px;
}

.pic img {
    margin-bottom: 58.56px !important;
}


.organizer {
    border: 1.86756px solid #F7F7F7;
    filter: drop-shadow(0px 3.73512px 3.73512px rgba(0, 0, 0, 0.25));
    border-radius: 18.6756px;
    padding: 8.4px 25.21px 7.47px 25.21px;
    overflow-wrap: break-word;

}


.organizer p {
    font-style: normal;
    font-weight: 500;
    font-size: 18.2995px;
    line-height: 29px;
    /* or 160% */
    
    text-align: center;
    letter-spacing: 0.07em;

    /* 2 */

    color: #F7F7F7 !important;

}


.detail .header {
    margin-bottom: 79.8px;
}

.detail .header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36.599px;
    line-height: 29px;
    /* or 80% */

    letter-spacing: 3.6599px;

    /* 2 */

    color: #F7F7F7;
}

.detail .header h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18.2995px;
    line-height: 29px;
    /* identical to box height, or 160% */
    margin-top: 9.62px;
    letter-spacing: 0.914976px;

    /* 2 */

    color: #F7F7F7;

}

.detail .desc {
    margin-bottom: 86.1px;
}

.detail .desc h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18.2995px;
    line-height: 29px;
    /* or 160% */


    /* 2 */

    color: #F7F7F7;
}


.detail .req p {
    font-style: normal;
    font-weight: 400;
    font-size: 22.8744px;
    line-height: 29px;
    /* identical to box height, or 128% */



    /* 2 */

    color: #F7F7F7;
}

.detail .req ul {
    margin-bottom: 82.26px !important;
}

.detail .req li {
    font-style: normal;
    font-weight: 400;
    font-size: 18.2995px;
    line-height: 29px;

    /* or 160% */



    /* 2 */

    color: #F7F7F7;

}



.detail a {
    background: #B71818;
    border-radius: 9.14976px;
    font-style: normal;
    font-weight: 600;
    font-size: 18.2995px;
    line-height: 29px;
    /* identical to box height, or 160% */

    text-align: center;
    text-decoration: none;
    

    /* 2 */

    color: #F7F7F7;


}