.bg-home {
    background: url('/img/bg-home.png');
    background-size: cover;
    height: 100vh;
}

.navbar {
    padding-left: 144px;
    padding-right: 144px;
}

nav .nav-item a{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    /* 2 */

    color: #F7F7F7;
}

nav .about {
    padding-left: 110px;
    padding-right: 110px;
}

nav .login {
    padding-left: 57px;

}

nav .login button {
    border: 1px solid #F7F7F7;
    border-radius: 5px;
    background-color: transparent;
    color: #F7F7F7 !important;
    
}


.home h1 {
    font-weight: 700;
    font-size: 60px;

    text-align: center;
    letter-spacing: 3px;

    /* 2 */

    color: #F7F7F7;
}